@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Rokkitt:wght@200&display=swap');

/*Resetting css baseline*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-color: rgb(33,33,33);
}

body{
    display: flex;
    align-items: center;
    flex-direction: column;
}

h1{
    padding: 1rem;
    line-height: 1.5rem;
    font-size: 2rem;
    font-family: 'Rokkitt', serif;
    color: blanchedalmond
}
.catimage{
    max-width: 2rem;
    margin: 1rem;
    justify-content: flex-end;
}

nav{
    background-color: rgb(16,16,16);
    display: flex;
    flex-direction: row;
}
ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

pre,li, p, span{
    padding: 1rem;
    line-height: 1.5rem;
    font-size: 1.2rem;
    font-family: 'Rokkitt', serif;
    color: blanchedalmond;
}

.otherP{
    padding: 1rem;
    line-height: 1.5rem;
    font-size: 0.8rem;
    font-family: 'Rokkitt', serif;
    color: blanchedalmond;
}