@mixin setMaxWidth($width) {
    max-width: $width;
}

$reduced: 400px;
$extraReduced: 200px;

/*
@mixin reduced() {
    max-width: 200px;
}

@mixin extrarecuded() {
    max-width: 100px;
}

.paragraphOne {
    @media (max-width: 400px) {
        @include reduced();
    }
}

.paragraphTwo {
    @media (max-width: 400px) {
        @include extrarecuded();
    }
}
*/

@media (max-width: 400px) {
    .paragraphOne {
        @include setMaxWidth($reduced);
    }

    .paragraphTwo {
        @include setMaxWidth($extraReduced);
    }
}